
SocketClient/bin/Debug/SocketClient.exe
SocketClient/bin/Debug/SocketClient.exe.config
SocketClient/bin/Debug/SocketClient.pdb
SocketClient/bin/Debug/SocketClient.vshost.exe
SocketClient/bin/Debug/SocketClient.vshost.exe.config
SocketClient/bin/Debug/SocketClient.vshost.exe.manifest
SocketClient/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
SocketClient/obj/Debug/DesignTimeResolveAssemblyReferences.cache
SocketClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SocketClient/obj/Debug/SocketClient.csproj.FileListAbsolute.txt
SocketClient/obj/Debug/SocketClient.csproj.GenerateResource.Cache
SocketClient/obj/Debug/SocketClient.csprojAssemblyReference.cache
SocketClient/obj/Debug/SocketClient.csprojResolveAssemblyReference.cache
SocketClient/obj/Debug/SocketClient.exe
SocketClient/obj/Debug/SocketClient.Form1.resources
SocketClient/obj/Debug/SocketClient.pdb
SocketClient/obj/Debug/SocketClient.Properties.Resources.resources
